<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Profile info:</h1>
<h3><er>Name:</er> {{user1}}</h3>
<h3>Surname: {{user2}}</h3>
<h3>E-mail: {{user3}}</h3>
<h3>Nickname: {{user4}}</h3>
      <form action="{{ url_for('ch_info1') }}">
  <div class="container signin">
    <p><button type="submit">Change profile info</button>.</p>
  </div>
</form>
      <form action="{{ url_for('MyPage') }}">
  <div class="container signin">
    <p><button type="submit">Home</button></p>
  </div>
</form>
</body>
</html>